<h1>Lista pizze</h1>

@*Inizializzazione property Model RazorPage*@
@model List<Pizza>

    @if(Model.Count() == 0){
        <div>Non ci sono pizze</div>
    }else{
    <div class="text-center d-flex">
        @foreach(Pizza pizza in Model){
            <div class="card mx-2 mt-2" style="width: 18rem;">
                <div>@pizza.Id</div>
                <img class="card-img-top" src="@pizza.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pizza: @pizza.Name</h5>
                    <p class="card-text">Descrizione: @pizza.Description</p>
                </div>
                <div class="card-footer">
                    <div>Prezzo: @pizza.Price €</div>
                </div>
            </div>
        }
    </div>
    }

<style>
    .card-img-top {
        height: 200px;
    }
</style>